.detail-List{
    /* text-align : center; */
}

.details {
    margin-left: 35%;
}

button{
    /* margin: 5px; */
    margin-bottom: 15px;
}

form{
    text-align: center;
}

/* .checked{
    text-decoration: line-through;
} */