.details {
    margin: auto;
    width: 34%;
    text-align: center;
    border: 1px solid;
    border-color: black;
    background-color: #00b9ce;
    color: white;
    overflow: hidden;
}

button{
    margin-bottom: 15px;
    height: 40px;
    width: 58px;
    margin-left: 10px;
    font-size: larger;
}

form{
    text-align: center;
}

img{
    align-content: end;
    height: 33px;
    float: right;
    padding-top: 4px;
    padding-right: 2px;
}
#name{
    height: 35px;
    font-size: 20px;
}
